//Moulos
@import '../abstracts/variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// colores custom del proyecto
$custom-colors: ( 
    "colorFondo":       $colorFondo,
    "colorFondoHover":  $colorFondoHover,
    "colorLetra":       $colorLetra,
    "colorLetraHover":  $colorLetraHover,
    "colorPuente":      $colorPuente,
    "colorBotonHover":  $colorBotonHover,
    "colorLetraBoton":  $colorLetraBoton,
);

// Mezcla de colores con los temas
$theme-colors: map-merge($theme-colors, $custom-colors);

$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 6,
  8: $spacer * 9,
  9: $spacer * 12,
  10: $spacer *14
);

//Estilos acordeon
$accordion-button-color:                  $colorLetra;
$accordion-button-bg:                     $colorFondo;
$accordion-button-active-bg:              tint-color( $colorFondo, 30%);
$accordion-button-active-color:           shade-color( $colorLetra, 10%);
$accordion-border-color:                  $colorLetra;
$accordion-bg:                            $colorFondoHover;
$accordion-icon-color:                    $colorLetra;
$accordion-icon-active-color:             $colorLetra;
$accordion-button-icon:                   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-focus-border-color:     $colorLetra;
$accordion-button-focus-box-shadow:       $colorLetra;

//Estilos checkbox
$form-check-input-checked-color:          $colorLetra;;
$form-check-input-checked-bg-color:       $colorLetra;;

//Estilos select

  //variables Select
     $input-focus-border-color: $colorLetra; //cambiamos el valor de la variable para alterar el color en propiedad $form-select-focus-border-color
     $input-btn-focus-color:$colorLetraHover;//cambiamos el valor de la variable para alterar el color en propiedad $form-select-focus-box-shadow 

//propiedades-estilos del select     
$form-select-color:                 $colorLetra;
$form-select-bg:                    $colorFondoHover;
$form-select-focus-border-color:    $input-focus-border-color;
$form-select-focus-box-shadow:      0 0 0 $form-select-focus-width $input-btn-focus-color;
$form-select-border-color:          $colorLetra;
$form-select-box-shadow:            $colorLetra;
$form-select-indicator-color:       $colorLetra;
$form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");

//Estilos Range

    //Variables Range
    $component-active-bg: $colorLetra;

//propiedades range

//dropDOwns 
$form-range-track-bg:    $colorLetraHover;
$form-range-thumb-bg:    $component-active-bg;

//Variables Form
$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-font-family:       null;
$input-btn-font-size:         $font-size-base;
$input-btn-line-height:       $line-height-base;

$input-btn-focus-width:         .25rem;
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity);
$input-btn-focus-blur:          0;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y-sm:      .25rem;
$input-btn-padding-x-sm:      .5rem;
$input-btn-font-size-sm:      $font-size-sm;

$input-btn-padding-y-lg:      .5rem;
$input-btn-padding-x-lg:      1rem;
$input-btn-font-size-lg:      $font-size-lg;

$input-btn-border-width:      var(--#{$prefix}border-width);

//Variables  Modal
$modal-inner-padding:               $spacer;

$modal-footer-margin-between:       .5rem;

$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

$modal-title-line-height:           $line-height-base;

$modal-content-color:               null;
$modal-content-bg:                  var(--#{$prefix}body-bg);
$modal-content-border-color:        var(--#{$prefix}border-color-translucent);
$modal-content-border-width:        var(--#{$prefix}border-width);
$modal-content-border-radius:       var(--#{$prefix}border-radius-lg);
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width);
$modal-content-box-shadow-xs:       $box-shadow-sm;
$modal-content-box-shadow-sm-up:    $box-shadow;

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .5;

$modal-header-border-color:         var(--#{$prefix}border-color);
$modal-header-border-width:         $modal-content-border-width;
$modal-header-padding-y:            $modal-inner-padding;
$modal-header-padding-x:            $modal-inner-padding;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

$modal-footer-bg:                   null;
$modal-footer-border-color:         $modal-header-border-color;
$modal-footer-border-width:         $modal-header-border-width;

$modal-sm:                          300px;
$modal-md:                          500px;
$modal-lg:                          800px;
$modal-xl:                          1140px;

$modal-fade-transform:              translate(0, -50px);
$modal-show-transform:              none;
$modal-transition:                  transform .3s ease-out;
$modal-scale-transform:             scale(1.02);

$dropdown-min-width:                10rem;
$dropdown-padding-x:                0;
$dropdown-padding-y:                .5rem;
$dropdown-spacer:                   .125rem;
$dropdown-font-size:                $font-size-base;
$dropdown-color:                    $colorLetra;
$dropdown-bg:                       $colorFondo;
$dropdown-border-color:             rgba($black, .15);
$dropdown-border-radius:            $border-radius;
$dropdown-border-width:             $border-width;
$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width);
$dropdown-divider-bg:               $dropdown-border-color;
$dropdown-divider-margin-y:         $spacer * .5;
$dropdown-box-shadow:               $box-shadow;

$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         shade-color($dropdown-link-color, 10%);
$dropdown-link-hover-bg:            $gray-200;

$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;

$dropdown-link-disabled-color:      $gray-500;

$dropdown-item-padding-y:           $spacer * .25;
$dropdown-item-padding-x:           $spacer;

$dropdown-header-color:             $gray-600;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x;


@import"../../node_modules/bootstrap/scss/bootstrap.scss";
